@font-face {
    font-family: "Neue Haas Unica W1G Regular";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("./fonts/NeueHaasUnicaW1G-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Neue Haas Unica W1G Light";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("./fonts/NeueHaasUnicaW1G-Light.otf") format("opentype");
}

@font-face {
    font-family: "Neue Haas Unica W1G Medium";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/NeueHaasUnicaW1G-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Neue Haas Unica W1G Bold";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("./fonts/NeueHaasUnicaW1G-Bold.otf") format("opentype");
}
